.main-header {
    background-color: var(--clr-white2);

    .app-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 80px;
        margin-top: 0;

        h1 {
            font-size: 30px;
        }

        nav {
            display: flex;
            gap: 15px;

            a {
                font-size: 18px;
                color: var(--clr-main);
                cursor: pointer;
                transition: 0.2s;
                padding-bottom: 5px;

                &:hover {
                    color: var(--clr-black);
                }

                &.active {
                    color: var(--clr-black);
                    box-shadow: 0px 2.5px 0px 0px var(--clr-main);
                }
            }

        }
    }
}