<section *ngIf="contact" class="contact-details">
    <section class="container main-layout">
        <div class="info">
            <img src="https://robohash.org/{{contact._id}}.png?set=set5" />
            <div class="">
                <h3>{{contact.name}}</h3>
                <h4>{{contact.email}}</h4>
                <h4>{{contact.phone}}</h4>
            </div>
        </div>
        <div class="transfers">
            <h1>Transfer</h1>
            <div class="box">
                <label for="amount">Amount: </label>
                <input [(ngModel)]="amount" type="number" id="amount">
                <button (click)="handleTransaction()" class="btn btn-send">Transfer</button>
                <h4 class="msg">{{msg}}</h4>
            </div>
            <transaction-list [contact]="contact"></transaction-list>
        </div>
    </section>
    <button (click)="goBack()" class="btn btn-back">Back</button>
</section>