.chart-container {
    .chart {
        width: 100%;
        border: 1px solid var(--clr-white2);
        border-radius: 0.5em;
        padding: 20px;
        background-color: var(--clr-white2);
    }
}