/* You can add global styles to this file, and also import other style files */
:root {
    --clr-white2: white;
    --clr-black: rgb(21, 21, 21);
    --clr-white: rgb(238, 238, 238);
    --clr-main: rgb(73, 242, 163);
}

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: dosis;
    color: var(--clr-black);
}

body {
    background-color: var(--clr-white);
    margin: 0;
}

.main-layout {
    max-width: 1440px;
    margin-inline: auto;
    padding-inline: 20px;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

input {
    &:focus {
        outline: 2px solid var(--clr-main);
    }
}

.btn {
    border-radius: 0.3em;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

@font-face {
    font-family: dosis-light;
    src: url(./assets/fonts/Dosis-Light.156b6060cd44d8f5a9fa.ttf);
}

@font-face {
    font-family: dosis;
    src: url(./assets/fonts/Dosis-Regular.16c5afafe71efb210033.ttf);
}

@font-face {
    font-family: dosis-medium;
    src: url(./assets/fonts/Dosis-Medium.f8d877a1b41eafb64fe7.ttf);
}

@font-face {
    font-family: dosis-bold;
    src: url(./assets/fonts/Dosis-Bold.1231ff1f0aac5aad68c3.ttf);
}